* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* created a root to minize the duplicates within the stylesheet*/
:root {
    --white: #ffffff;
    --gill-sans:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --Trebuchet-ms: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --bottom: 10px;
    --margin: 10px auto;
    --blue:#0072bb;
    --m-bottom: 20px;
    --height: 300px;
    --max: 200px;

}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: var(--Trebuchet-ms);
    background-color: #2a607c;
    color: var(--white);
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--gill-sans);
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--white);
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: var(--gill-sans);
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: var(--white);
}

.benefit-brand {
    margin-bottom: 32px;
    color: var(--white);
}

.benefit-cost {
    margin-bottom: 32px;
    color: var(--white);
}

.benefit-lead h3 {
    margin-bottom: var(--bottom);
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: var(--bottom);
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: var(--bottom);
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: var(--margin);
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: var(--margin);
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: var(--margin);
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: var(--m-bottom);
    padding: 50px;
    height: var(--height);
    font-family: var(--gill-sans);
    background-color: var(--blue);
    color: var(--white);
}

.online-reputation-management {
    margin-bottom: var(--m-bottom);
    padding: 50px;
    height: var(--height);
    font-family: var(--gill-sans);
    background-color:var(--blue);
    color: var(--white);
}

.social-media-marketing {
    margin-bottom: var(--m-bottom);
    padding: 50px;
    height: var(--height);
    font-family: var(--gill-sans);
    background-color: var(--blue);
    color: var(--white);
}

.search-engine-optimization img {
    max-height: var(--max);
}

.online-reputation-management img {
    max-height: var(--max);
}

.social-media-marketing img {
    max-height: var(--max);
}

.search-engine-optimization h2 {
    margin-bottom: var(--m-bottom);
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: var(--m-bottom);
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: var(--m-bottom);
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: var(--Trebuchet-ms);
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}


